spawn-at-startup "noctalia"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
	xcursor-theme "Bibata-Modern-Ice"
	xcursor-size 24
}

hotkey-overlay {
	skip-at-startup
	hide-not-bound
}

debug {
  honor-xdg-activation-with-invalid-serial
}

workspace "w0"
workspace "w1"
workspace "w2"
workspace "w3"
workspace "w4"
workspace "w5"
workspace "w6"
workspace "w7"
workspace "w8"
workspace "w9"

input {
	keyboard {
		xkb {
			layout "fr"
			variant "azerty"
		}
		repeat-delay 250;
		repeat-rate 40;
	}

	mouse {
		accel-profile "flat"
	}

	focus-follows-mouse
}

binds {
	Mod+Q { close-window; }
	Mod+F { maximize-column; }
	Mod+G { fullscreen-window; }
	Mod+Shift+F { toggle-window-floating; }
	Mod+C { center-column; }

	Mod+Return { spawn "kitty"; }
	Mod+B { spawn "zen"; }
	Mod+E { spawn "nautilus"; }

	Mod+Ctrl+Return { spawn-sh "noctalia msg panel-toggle launcher"; }
	Mod+Space { spawn-sh "noctalia msg panel-toggle control-center"; }
	Mod+Escape { spawn-sh "noctalia msg panel-toggle session"; }
	Alt+Tab { spawn-sh "noctalia msg window-switcher"; }

	XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
	XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
	XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute { spawn-sh "noctalia msg mic-mute"; }
	XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
	XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }

	Mod+H { focus-column-left; }
	Mod+J { focus-window-down; }
	Mod+K { focus-window-up; }
	Mod+L { focus-column-right; }

	Mod+Shift+H { move-column-left; }
	Mod+Shift+J { move-window-down; }
	Mod+Shift+K { move-window-up; }
	Mod+Shift+L { move-column-right; }

	Mod+Ctrl+Shift+H { consume-or-expel-window-left; }
	Mod+Ctrl+Shift+L { consume-or-expel-window-right; }

	Mod+ampersand { focus-workspace "w0"; }
	Mod+eacute { focus-workspace "w1"; }
	Mod+quotedbl { focus-workspace "w2"; }
	Mod+apostrophe { focus-workspace "w3"; }
	Mod+parenleft { focus-workspace "w4"; }
	Mod+minus { focus-workspace "w5"; }
	Mod+egrave { focus-workspace "w6"; }
	Mod+underscore { focus-workspace "w7"; }
	Mod+ccedilla { focus-workspace "w8"; }
	Mod+agrave { focus-workspace "w9"; }

	Mod+Shift+ampersand { move-column-to-workspace "w0"; }
	Mod+Shift+eacute { move-column-to-workspace "w1"; }
	Mod+Shift+quotedbl { move-column-to-workspace "w2"; }
	Mod+Shift+apostrophe { move-column-to-workspace "w3"; }
	Mod+Shift+parenleft { move-column-to-workspace "w4"; }
	Mod+Shift+minus { move-column-to-workspace "w5"; }
	Mod+Shift+egrave { move-column-to-workspace "w6"; }
	Mod+Shift+underscore { move-column-to-workspace "w7"; }
	Mod+Shift+ccedilla { move-column-to-workspace "w8"; }
	Mod+Shift+agrave { move-column-to-workspace "w9"; }

	Mod+Ctrl+H { set-column-width "-5%"; }
	Mod+Ctrl+J { set-window-height "-5%"; }
	Mod+Ctrl+K { set-window-height "+5%"; }
	Mod+Ctrl+L { set-column-width "+5%"; }

	Mod+O { toggle-overview; }

	Print { screenshot; }
	Ctrl+Print { screenshot-screen; }
	Alt+Print { screenshot-window; }
}

layout {
	always-center-single-column

	gaps 8

	focus-ring {
		off
	}

	border {
		on
		width 2
		active-color "#d79921"
		inactive-color "#504945"
	}
}

animations {
	workspace-switch {
		off
	}
}

gestures {
	hot-corners {
		off
	}
}

window-rule {
  geometry-corner-radius 10
  clip-to-geometry true
}

window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}
